* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

body {
    color: #1c1e21;
    background: #fff;
    margin: 0;
    padding: 0;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 500px;
    margin: 100px;
    margin-left: 370px;
    margin-right: 370px;
}



.profile {
    flex-wrap: wrap;
    flex: 1;
}

h1 {
    color: rgb(88, 88, 255);
    font-size: 40px;
    font-weight: bold;
}

#first {
    font-weight: 300px;
    font-size: 35px;
}


/* Login */

.login {
    width: 370px;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    flex-direction: row;
    border: 1px solid rgb(185, 181, 181);
    border-radius: 5px;
    
}

.email, .password {
    font-size: 20px;
    padding: 5px;
    border-radius: 6px;
    margin: 4px;
    width: auto;

}