* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

body {
    color: #1c1e21;
    background: rgba(245, 248, 250, 0.856);
    margin: 0;
    padding: 0;
}

.flex-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 500px;
    margin: 100px;
    margin-left: 370px;
    margin-right: 370px;
}

/* Left-side profile */

.profile {
    flex-wrap: wrap;
    flex: 1;
}

h1 {
    color: rgb(88, 88, 255);
    font-size: 40px;
    font-weight: bold;
}

#first {
    font-weight: 300px;
    font-size: 35px;
}

.pics {
    display: inline-block;
    border: 3px ridge rgb(228, 218, 218);
}

.pics img {
    height: 140px;
    width: 2
}


/* Login */

#login {
    max-width: 400px;
    min-width: 300px;
    height: 300px;
    border: 1px solid black;
    margin-top: 113px;
    display: flex;
    padding: 0%;
    flex: 1;
    justify-content: center;

}



.email {
    margin-top: 10%;
    font-size: 24px;
    border-radius: 5px;
    
}

.password {
    margin-top: 2%;
    font-size: 24px;
    border-radius: 5px;
}

.login {
    display: block;
    margin-top: 12px;
    margin-bottom: 12px;    
    font-size: 24px;
    border-radius: 8px;
    width: 100%;
    background: rgb(67, 67, 250);
    color: white;
    padding: 5px;
}

.forgot{
    color: rgb(44, 44, 211);
    font-size: 15px;
    font-weight: 600px;
    text-decoration: none;
}

hr {
    margin-bottom: 20px;
}

.create {
    text-decoration: none;
    background: rgb(99, 185, 99);
    font-size: 25px;
    border-radius: 5px;
    padding: 10px;
    
}

