* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

body {
    color: #1c1e21;
    background: #fff;
    margin: 0;
    padding: 0;
}

.flex-container {
    border: 5px solid black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 500px;
    margin: 100px;
    margin-left: 370px;
    margin-right: 370px;
}

.flex-container div {
   
}

.profile {
    flex-wrap: wrap;
}

h1 {
    color: rgb(88, 88, 255);
    font-size: 40px;
    font-weight: bold;
}

#first {
    font-weight: 300px;
    font-size: 35px;
}

.pics {
    border-radius: 5px;
}

#name {
    color: red;
}
